<ion-content>
  <div class="modal-inner">
    <div class="option-list ion-activatable" (click)="onClickReport()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>Report....</ion-label>
    </div>
    <div class="option-list ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>Not Instrested</ion-label>
    </div>
    <div class="option-list ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>Copy Link</ion-label>
    </div>
    <div class="option-list ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>Save</ion-label>
    </div>
    <div class="option-list ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>Remix this Video</ion-label>
    </div>
  </div>
</ion-content>