<ion-header>
  <ion-button (click)="goBack()">
    <ion-icon name="chevron-back"></ion-icon>
  </ion-button>
  <ion-title>Know More</ion-title>
</ion-header>

<ion-content>
  <div class="custom-segment" *ngIf="type == 'SUBSCRIPTION'">
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="offerType" mode="md">
      <ion-segment-button value="DYNAMO">
        <ion-label>Dynamo</ion-label>
      </ion-segment-button>

      <ion-segment-button value="QUIZWHIZZ">
        <ion-label>Quizwhizz</ion-label>
      </ion-segment-button>

      <ion-segment-button value="EVENT">
        <ion-label>Event</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="page-inner" *ngIf="offerType == 'DYNAMO'">
    <h2>DYNAMO</h2>
    <p class="mb-3">Academic Methodical Test Series <b>[5 Steps Test &amp; Analysis]</b></p>
    <p><b>Dynamo platform</b> is a unique concept meant for the e-assessment and analysis of
      children (Standard 3-10) which would be carried out through five steps such as, individual chapter-wise
      practice and revision tests, multi-chapters wise quarterly and mid-term tests, and a final test comprising
      of all the chapters and subjects based on the updated school syllabus of CBSE and ICSE education board.
      Dynamo provides a 24x7 platform where the children can carry out their self-assessments irrespective of
      their source of education. These tests are not time bound and children can assess themselves upon completion
      of a chapter in the school. The purpose of the Dynamo platform is to monitor children’s learning and provide
      valuable feedback to help them modify their goals. This platform allows children to visually organize their
      thoughts, connect ideas, and gains a deeper understanding of various topics and subjects. This platform is
      designed and developed in such a way that the children from different Board would have
      a better growth rate by going through regular systematic assessments with a vision <b>“BETTER THE ASSESSMENT,
        BETTER THE GROWTH”</b>. These objective exams are not time bound and children can assess themselves on
      completion of each chapter, without doing any modifications or changes to their regular busy study schedule.
      Research shows that learning and practice objectives are helpful as they capture children’s attention, which
      can make them more engaged and can improve their academic performance. Intelligent server-based these MCQ
      tests are prepared by the top most educators for each and every chapter covered according to the updated
      syllabus. It is a platform which would be truly helpful for both children and parents as children would be
      able to assess their level of understanding on a topic by going through regular systematic assessments and
      parents would be able to easily monitor the progress of their child education.</p>
    <div class="test-section">
      <div>
        <ion-title>SUBJECT OFFERED</ion-title>
        <span><b>MATHEMATICS, ENGLISH, SCIENCE, ENVIRONMENTAL SCIENCE, PHYSICS, CHEMISTRY, BIOLOGY,
            SST, SOCIAL SCIENCE, GEOGRAPHY, HISTORY &amp; CIVICS, COMPUTER, HINDI, ODIA, GK</b></span>
      </div>
      <div>
        <ion-title>TEST PROCEDURE</ion-title>
        <span class="m-0">DYNAMO PLATFORM PROVIDES</span>
        <span class="m-0"><b>A FIVE (5) STEPS ASSESSMENT AND ANALYSIS PLATFORM</b></span>
        <span class="m-0">COMPRISING OF THESE FOLLOWING TESTS</span>
        <ion-label>
          <label>DIAGNOSTIC</label> |
          <label>PROGRESSIVE</label> |
          <label>QUARTERLY</label> |
          <label>PROFICIENCY</label> |
          <label>BENCHMARK</label>
        </ion-label>
      </div>
      <div class="test-raw">
        <div class="test-col">DIAGNOSTIC TEST</div>
        <div class="test-col">PROGRESSIVE TEST</div>
      </div>
      <div class="test-raw">
        <div class="test-col">1st QUARTER TEST</div>
        <div class="test-col">2nd QUARTER TEST</div>
      </div>
      <div class="test-raw test-raw1">
        <div class="test-col">1st PROFICIENCY TEST</div>
      </div>
      <div class="test-raw">
        <div class="test-col">3rd QUARTER TEST</div>
        <div class="test-col">4th QUARTER TEST</div>
      </div>
      <div class="test-raw test-raw2">
        <div class="test-col">2nd PROFICIENCY TEST</div>
        <div class="test-col test-col1">BENCHMARK TEST</div>
      </div>
    </div>
    <div class="mb-4">
      <h5 class="underLine">DIAGNOSTIC TEST :</h5>
      <p>DIAGNOSTIC tests for all the chapters of a subject are always in the activated form. On completion of a
        chapter in the school, children would be able to appear the DIAGNOSTIC test on that particular chapter.
        It would help children to assess and analysis their preliminary understanding on that particular chapter.
        It would guide the children know their weak areas in a chapter and where they need to improve through real
        time reports.</p>
    </div>
    <div class="mb-4">
      <h5 class="underLine">PROGRESSIVE TEST :</h5>
      <p>After completion of the DIAGNOSTIC test, children would have an opportunity to learn and revise before
        appearing the same chapter again through PROGRESSIVE test. The children must have to secure 100% score
        to qualify the PROGRESSIVE test within a term of five (5) times maximum.</p>
    </div>
    <div class="mb-4">
      <h5 class="underLine">1st QUARTER TEST :</h5>
      <p>After completion of PROGRESSIVE tests for chapters belonging to 25% of a particular subject, the children
        would be able to appear in the 1st QUARTER test comprising of questions related to that 25% chapters only.
      </p>
    </div>
    <div class="mb-4">
      <h5 class="underLine">2nd QUARTER TEST :</h5>
      <p>For 2nd QUARTER test the children need to follow the same procedure of appearing DIAGNOSTIC and PROGRESSIVE
        tests for the next 25% chapters belonging to a particular subject.</p>
    </div>
    <div class="mb-4">
      <h5 class="underLine">1st PROFICIENCY TEST</h5>
      <p>Once a child completes the 1st and 2nd QUARTER test, the 1 ST PROFICIENCY test will be activated. This
        test will comprise of questions related to the first 50% completed chapters of a particular subject.</p>
    </div>
    <div class="mb-4">
      <h5 class="underLine">3rd QUARTER TEST</h5>
      <p>For 3rd QUARTER test the children need to follow the same procedure of appearing DIAGNOSTIC and PROGRESSIVE
        tests for the third 25% chapters belonging to a particular subject.</p>
    </div>
    <div class="mb-4">
      <h5 class="underLine">4th QUARTER TEST</h5>
      <p>For 4th QUARTER test the children need to follow the same procedure of appearing DIAGNOSTIC and
        PROGRESSIVE tests for the last 25% chapters belonging to a particular subject.</p>
    </div>
    <div class="mb-4">
      <h5 class="underLine">2nd PROFICIENCY TEST</h5>
      <p>Once a child completes the 3rd and 4th QUARTER test, the 2 ND PROFICIENCY test will be activated. This
        test will comprise of questions related to the last 50% completed chapters of a particular subject.</p>
    </div>
    <div class="mb-4">
      <h5 class="underLine">BENCHMARK TEST</h5>
      <p>The Final BENCHMARK test will be activated on completion of the 2 ND PROFICIENCY Test for a particular
        subject. This test would comprise of questions related to all the completed chapters for a subject.</p>
    </div>
    <div class="key-section">
      <ion-title>KEY ADVANTAGES</ion-title>
      <ul class="mb-4">
        <li>Dynamo platform help children self-regulate their learning process.</li>
        <li>Encourages for regular self-assessment and analysis, reduce exam nerves.</li>
        <li>Provide children a five (5) steps practice, revision, test and analysis platform for all academic
          chapters.</li>
        <li>Give a moral support to the weak children by providing extra chance of examinations.</li>
        <li>The MCQ pattern, shorter exam length, flexible questioning technique and fixed time per question are
          designed to make the Dynamo test series less stressful for children.</li>
        <li>Get performance-based points and score card upon completion of each test.</li>
        <li>Watch and review own performance analysis upon completion of each test.</li>
        <li>Get detailed report of correct and incorrect answers, solutions and explanations.</li>
        <li>Download and save the answer sheet, share the performance record with others.</li>
        <li>Help children know their weak areas in a chapter; where they need to improve through real time reports.
        </li>
        <li>Improve children’s learning and testing skills, time management, memory, and recall abilities.</li>
        <li>Get an opportunity to complete the syllabus more efficiently well before the school examinations.</li>
        <li>Improve goals and objective, get more academic achievement.</li>
        <li>Provide parents a healthy platform for assessment of their children as and when they need.</li>
        <li>Help parents stay engaged and up-to-date with their child’s education, strengths, and learning goals.
        </li>
      </ul>
    </div>
    <div class="exam-section">
      <ion-title>EXAM INFO</ion-title>
      <ul>
        <li>24 x 7 online assessment platforms for the school children of Std. 3 to Std.10.</li>
        <li>There is no fixed timelines scheduled for attending a test in the Dynamo platform.</li>
        <li>Points are given for every correct answer in a test.</li>
        <li>There is no negative marking for wrong answers (No points are reduced for wrong answers).</li>
        <li>It is the children’s responsibility to complete all the tests available on the Dynamo test series, in
          due time.</li>
        <li>It is the children’s responsibility to monitor and manage the time scheduled for completes a test in
          time.</li>
        <li>There’s no option of review or change the answer, once progressed for the next question during a test.
        </li>
        <li>Skipping or returning from a test in between before completion of the exam, might result into
          withholding and also unable to attain the same test later again.</li>
        <li>A children who <u>experiences technical difficulties during an exam</u> with accessing, completing,
          and/or submitting the test; should immediately contact the <b><u>Exam Helpdesk,</u></b> using the contact
          details provided herewith and in the Application’s Contact Info.
          <span><b><u>Exam Helpdesk</u></b>: 6371469050. [10:00 – 17:00]</span>
          <span>Monday – Friday [excluding national holidays]</span>
        </li>
      </ul>
    </div>

    <div class="last">
      <p>Now <b>ANYTIME, ANYWHERE</b> chapter wise <b>DAY-TO-DAY REVISION, PRACTICE, TEST,</b>
        and <b>ANALYSIS</b>
      </p>
      <p>ARE SO EASY WITH <b class="blue">DYNAMO</b></p>
    </div>
  </div>
  <div class="page-inner" *ngIf="offerType == 'QUIZWHIZZ'">
    <h2>QUIZ WHIZZ</h2>
    <h5 class="text-start">The Game Changer</h5>
    <p><b>Quiz Whizz platform</b> encourages the children (Standard 3-10) to participate in the weekly “Sunday –
      Quiz Whizz” gaming competition program on General Knowledge, Current Affairs and Mental Ability including
      academic GK Syllabus. This fun, creative and interactive competition program is totally based on the
      children’s “recall and time management” skill. Children from CBSE and ICSE education board can regularly play
      and assess their IQ and memory skills by attending the Quiz Whizz program throughout the year. This platform
      test an aspirant’s knowledge and awareness of the world around them, encompassing topics like history,
      geography, science, innovations and inventions, economy, polities, world affairs, sports, logical reasoning
      and recent global events. This effective platform not only gives an opportunity to complete the academic GK
      syllabus in time, but also helps a lot to bring an improvement in their individual’s knowledge and skill. This
      is really helps in the holistic development of children by building skills like; problem solving, decision
      making, critical thinking, memory, time management, comprehensive and conversational skill. It gives the
      children a chance to enhance their awareness of various national and international topics and events. This
      platform genuinely supports children’s academic performance and lays the foundation for future challenges and
      lifelong learning.
    </p>
    <div class="key-section mt-3">
      <ion-title>KEY ADVANTAGES</ion-title>
      <ul class="mb-4">
        <li>Quiz Whizz gaming competition program promotes… creativity, critical thinking and effective learning.
        </li>
        <li>Allows children to visually organize their thoughts, connects ideas, and gains a deeper understanding of
          various topic &amp; content.</li>
        <li>Build a strong base on general knowledge, current affairs, and mental ability.</li>
        <li>Get an opportunity to complete the school GK. Syllabus well before the final school examinations.</li>
        <li>Watch and review own performance analysis upon completion of each competition.</li>
        <li>Compare own rank with others on national, state, district, and school level.</li>
        <li>Able to get detailed report of correct and incorrect answers.</li>
        <li>Able to download and save the answer sheet, share the performance record with others.</li>
        <li>This platform promotes general awareness, social skill, and enhancing cognitive development.</li>
        <li>Help the children improve recall and time management.</li>
        <li>Help the children developing reasoning skill, comprehensive and conversational skill.</li>
        <li>Improve children’s analytical, decision making, critical thinking, and problem solving abilities.</li>
        <li>Gives the children a chance to enhance their knowledge of various real- world situations.</li>
        <li>Makes children more resourceful, more confident in their abilities.</li>
        <li>Help children expand their perspectives beyond their curriculum, makes them smart and intelligent.</li>
        <li>Get performance-based points, score card, and badges upon completion of each competition.</li>
        <li>Earned points and unlock rewards: achievement cards, certificate, medals and trophy.</li>
      </ul>
    </div>
    <div class="exam-section">
      <ion-title>COMPETITION INFO</ion-title>
      <ul>
        <li>Children are able to participate in the Quiz Whizz completions on every Sunday throughout the year.</li>
        <li>There are two levels of Quiz Whizz competition to be participating by the children in a month.
          <span class="text-start mt-2">Level 1: <u>Turtle Drive</u> - Every SUNDAY ((except the last SUNDAY of the
            month))</span>
          <span class="text-start my-2">Level 2: <u>Horse Ride</u> - Last SUNDAY of a month</span>
          *Here in this Quiz Whizz platform, the Turtle Drive competitions are known as “Learn &amp; Practice” and
          the Horse Ride competitions are referred as “Terminal” session.
        </li>
        <li>Children can start the game in a month through Turtle Drive competitions and accelerate to win the game
          at the end of the month through Horse Ride competition.</li>
        <li>It is the children’s responsibility to take participates in a Quiz Whizz competition, at the right time.
        </li>
        <li>Time duration for a Quiz Whizz competition: Maximum 15 minutes.</li>
        <li>It is the children’s responsibility to monitor and manage the time scheduled for completes a competition
          in time.</li>
        <li>It’s the children’s responsibility to follow the 24-hour scheduled system [00:00 Hour – 23:59 Hour] to
          start and finish a competition in due time.
          <span class="text-start"><b><u>For e.g.</u></b> Competition Date: 11 th April, Expected Competition
            Duration: 00:15 minutes
            <br>Child elects to start the competition at 11.05 on 11 th April. As it is a fifteen minutes program,
            the scheduled time for the competition therefore ends at 11:20.</span>
          <table class="table table-bordered mt-3">
            <tbody>
              <tr>
                <td>Competition submitted on or before 23:59 on 11th April</td>
                <td>Competition submitted on or after 00:00 on 12th April</td>
              </tr>
              <tr>
                <td>Within scheduled time</td>
                <td>Not possible to submit or No further access to the competition</td>
              </tr>
              <tr>
                <td>Treated as fair competition</td>
                <td>May result in withheld / refused</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li>In an event that a child <u>does not attempt the competition</u>, due to illness or other adverse
          circumstances beyond their control, may submit a Good Cause claim in <b><u>Exam Helpdesk</u></b> within 3
          working days of the game. If the Good Cause claim is accepted, the most common outcome is that the
          competition will need to be completed at a later date.
          <span class="text-start">* In some cases, some competition missed with Good Cause may be
            disregarded.</span>
        </li>



        <li>The children who experiences <u>technical difficulties during a competition</u> with accessing,
          completing, and/or submitting; should immediately contact to the <b><u>Exam Helpdesk</u></b> within 3
          working days of
          the
          competition, using the contact details provided herewith and in the Application’s Contact Info.
          <div class="d-flex mt-2"><b><u>Exam Helpdesk</u></b>:
            <div class="ms-1">
              <span class="m-0">6371469050. [10:00 – 17:00]</span>
              <span>Monday – Friday [excluding national holidays]</span>
            </div>
          </div>
        </li>
        <li>Points are given for every correct answer in a competition.</li>
        <li>There is no negative marking for wrong answers (No points are reduced for wrong answers).</li>
        <li>There’s no option of review or change the answer, once progressed for the next question during a
          competition.</li>
        <li>Skipping or returning from a game in between before completion of the competition, might result into
          withholding and also unable to attain the same competition later again.</li>
        <li><b>Secured points</b>: Total points achieved by the children for every correct answer in a competition.
        </li>
        <li class="reward-table"><b>Bonus Points</b>: On the basis of secured points and percentage in a
          competition, the children are entitled for typically entry to a symbolic club and earned bonus points as
          follows:-
          <div class="w-100 overflow-auto">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="head" colspan="4"><b>Symbolic Club Bonus Points</b></th>
                </tr>
                <tr>
                  <th class="title w100"><b>Percentage</b></th>
                  <th class="title"><b>Club Name</b></th>
                  <th class="title"><b>Turtle Drive - Bonus Point</b></th>
                  <th class="title"><b>Horse Ride - Bonus Point</b></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="w100"><b>01% - 10%</b></td>
                  <td><b>CANDY</b></td>
                  <td>11</td>
                  <td>44</td>
                </tr>
                <tr>
                  <td class="w100"><b>11% - 20%</b></td>
                  <td><b>POPSICLE</b></td>
                  <td>22</td>
                  <td>88</td>
                </tr>
                <tr>
                  <td class="w100"><b>21% - 30%</b></td>
                  <td><b>BUBBLEGUM</b></td>
                  <td>33</td>
                  <td>132</td>
                </tr>
                <tr>
                  <td class="w100"><b>31% - 40%</b></td>
                  <td><b>CARAMEL</b></td>
                  <td>44</td>
                  <td>176</td>
                </tr>
                <tr>
                  <td class="w100"><b>41% - 50%</b></td>
                  <td><b>BEGINNER</b></td>
                  <td>55</td>
                  <td>220</td>
                </tr>
                <tr>
                  <td class="w100"><b>51% - 60%</b></td>
                  <td><b>ENTHUSIAST</b></td>
                  <td>66</td>
                  <td>264</td>
                </tr>
                <tr>
                  <td class="w100"><b>61% - 70%</b></td>
                  <td><b>POSITIVE PEERS</b></td>
                  <td>77</td>
                  <td>308</td>
                </tr>
                <tr>
                  <td class="w100"><b>71% - 80%</b></td>
                  <td><b>RISING STAR</b></td>
                  <td>88</td>
                  <td>352</td>
                </tr>
                <tr>
                  <td class="w100"><b>81% - 90%</b></td>
                  <td><b>LUCKY CHARM</b></td>
                  <td>99</td>
                  <td>396</td>
                </tr>
                <tr>
                  <td class="w100"><b>91% - 95%</b></td>
                  <td><b>GENIUS</b></td>
                  <td>111</td>
                  <td>444</td>
                </tr>
                <tr>
                  <td class="w100"><b>96% - 100%</b></td>
                  <td><b>GRAND MASTER</b></td>
                  <td>222</td>
                  <td>555</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li><b>Terminal Points</b>: The final output of a competition = <u>Secured Points + Bonus Points</u>
          <span class="text-start"><b><u>For Example</u></b>:- </span>
          <span class="text-start">
            <u>Turtle drive competition</u>: A child scored 57 points out of 100 (57%) in a turtle drive
            competition, and entitled for entering the ENTHUSIAST club.
          </span>
          <span class="text-start">The terminal points of the competition will be; 57 (secured points) + 66 (bonus
            points) = 123 Points.</span>
          <span class="text-start">
            <u>Horse ride competition</u>: A child scored 95 points out of 100 (95%) in a horse ride competition,
            and entitled for entering the GENIUS club.
          </span>
          <span class="text-start">The terminal points of the competition will be; 95 (secured points) + 444 (bonus
            points) = 539 points.</span>
        </li>
        <li>Monthly performance record: Will be defines on the basis of overall terminal points achieved by the
          children in a month.</li>
        <li>Yearly performance record: Will be defines on the basis of overall terminal points achieved by the
          children in a year (12 consecutive months).</li>
        <li>When two or more children obtain the same points in a competition, then their rank will be decided on
          the basis their consumption of time to finish the competition.
          <span class="text-start"><b><u>For e.g.</u></b> – XXX, YYY, ZZZ (3 children’s name) has secured 204
            terminal points each, in a competition.</span>
          <div class="d-flex mt-2">But,
            <div class="ms-1">
              <span class="text-start">XXX has finished the competition in 00:13:27 hour (13 minutes and 27
                seconds).</span>
              <span class="text-start">YYY has finished the competition in 00:14:05 hour (14 minutes and 05
                seconds).</span>
              <span class="text-start">ZZZ has finished the competition in 00:13:12 hour (13 minutes and 12
                seconds).</span>
            </div>
          </div>
          <span class="text-start">Here the ranks will be decided as: <b>1st</b> – ZZZ (00:13:12), <b>2nd</b> – XXX
            (00:13:27), and 3rd – YYY (00:14:05)</span>
        </li>
      </ul>
    </div>
    <div class="key-section mt-3">
      <ion-title>REWARD</ion-title>
      <ul class="rewardlist">
        <li>
          <h5 class="text-start">The Game Changer of the Month</h5>
          <span class="mb-3">[Top hundred (100) deserved children to be granted for the digital motivational
            recognition, on the basis of their best overall monthly performance record.]</span>
          <!-- <span>Rank - 1-5: <b>Certificate of Recognition, and G. Medal</b></span>
          <span>Rank - 6-10: <b>Certificate of Recognition, and S. Medal</b></span>
          <span>Rank - 11-15: <b>Certificate of Recognition, and B. Medal</b></span> -->
          <span>Rank - 1-100: <b>Achievement Cards [Digital]</b></span>
        </li>
        <li>
          <h5 class="text-start">The Game Changer of the Year</h5>
          <span class="mb-3">[Top hundred (100) deserved children to be granted for the reward and recognition, on the
            basis of their
            best overall yearly performance record.]</span>
          <span>Rank - 1-30: <b>Certificate of Recognition, G. Medal, Trophy, and Cash Prize</b></span>
          <span>Rank - 31-65: <b>Certificate of Recognition, S. Medal, Trophy, and Cash Prize</b></span>
          <span>Rank - 66-100: <b>Certificate of Recognition, B. Medal, Trophy, and Cash Prize</b></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-inner" *ngIf="offerType == 'EVENT'">
    <h2>EVENT</h2>
    <h5 class="text-start">Scholarships & Talent Search Competitions</h5>
    <p><b>Event platform</b> time to time allows the school children (Standard 3-10) of CBSE and ICSE education boards
      to participate online in the MCQ pattern based various academic surprise tests and competitions based on the
      updated school syllabus throughout the year. Also the children are able to take online participation in the
      Starkwizz Talent Search Event (STSE), Starkwizz Scholarship Event (SSE), and different Sponsored Events to
      identify oneself performance and enhance the skills. Children participating in the events, develop their skills
      and abilities. In the long run, this is very beneficial to their educational career also. There might not be
      enough competition in the school or coaching centers. The purpose of these events is basically helping the
      children to gain an understanding of how competitive the events are in reality. These competitions are not only
      helping to make improvements in the education but also create competitive spirit among the children. The
      appreciation they gain through these events, definitely build their self-confidence. These events allow children
      to add their achievements to their educational profiles. Additionally, children can feel immense satisfaction as
      they represent their school or city at different levels. This would motivate the children to read, with give an
      opportunity to showcase their talent and win exciting prizes. Taking part in such a competitive event is a huge
      accomplishment in itself and for children; such accomplishments are the greatest reward.</p>
    <div class="test-section">
      <div>
        <ion-title>SET FORTH</ion-title>
        <ion-text>STARKWIZZ TALENT SEARCH EVENT (STSE): ******************************************</ion-text>
        <span class="m-0">Events Date: Prior to the Final School or Board Examination</span>
        <span>*Follow EVENT section in the Application</span>
      </div>
      <span class="my-3"><b><u>SUBJECT OFFERED</u></b></span>
      <div class="test-raw">
        <div class="test-col">MATHEMATICS</div>
        <div class="test-col">SCIENCE</div>
      </div>
      <div class="test-raw">
        <div class="test-col">ENGLISH GRAMMAR</div>
        <div class="test-col">GENERAL KNOWLEDGE</div>
      </div>
      <div class="test-raw">
        <div class="test-col">EVS</div>
        <div class="test-col">SST</div>
      </div>
    </div>

    <div class="test-section">
      <div>
        <ion-text>STARKWIZZ SCHOLARSHIP EVENT (SSE): *********************************************</ion-text>
        <span class="m-0">Event Date: Later the Final School or Board Examination</span>
        <span>*Follow EVENT section in the Application</span>
      </div>
      <span class="my-3"><b><u>SUBJECT OFFERED</u></b></span>
      <div class="test-raw">
        <div class="test-col">MATHEMATICS + EVS</div>
        <div class="test-col">MATHEMATICS + SCIENCE</div>
      </div>
      <!-- <div class="test-raw test-raw2">
        <div class="test-col test-col1">MATHEMATICS + MENTAL ABILITY + SCIENCE</div>
      </div> -->
    </div>




    <div class="key-section mt-3">
      <ion-title>KEY ADVANTAGES</ion-title>
      <ul class="mb-4">
        <li>Unlimited access to surprise tests, talent search competitions, scholarship event and sponsors events.</li>
        <li>The MCQ pattern, innovative UI technique, and fixed time per question are making these tests less
          stressful for children.</li>
        <li>Watch and review own performance analysis upon completion of each event.</li>
        <li>Understand their strengths and weaknesses in a subject through real time reports.</li>
        <li>Able to get detailed report of correct and incorrect answers, solutions, and explanations.</li>
        <li>Able to download the answer sheet, and share the performance record with others.</li>
        <li>Compare own rank with others on national, state, district, and school level.</li>
        <li>Will be able to determine their level of competition, improve competency skill.</li>
        <li>Improve children’s time management, problem solving skills, reasoning, and analytical abilities.</li>
        <li>Encourages children to compete at different levels of competition more confidently.</li>
        <li>Enjoy the online competitions in a fun way through a very healthy competitive ecosystem.</li>
        <li>Create the best experience of events among the children with a soft touch of competition and rewards.</li>
        <li>The deserve children are awarded certificate, medal, trophy, memento and cash prizes.</li>
      </ul>
    </div>
    <div class="test-section">
      <div>
        <ion-title>REWARD</ion-title>
        <ion-text>STARKWIZZ TALENT SEARCH EVENT (STSE): *************************************************</ion-text>
        <ion-title class="border-0">The GREAT ACHIEVER of the Year</ion-title>
        <span>Rewards will be granted to the top three positions only on the basis of school, district and state
          level.</span>
      </div>
      <div class="test-raw reward">
        <div class="test-col">
          <ion-label>SCHOOL LEVEL</ion-label>
          <span class="mb-1">1st Prize: Certificate of Recognition</span>
          <span class="mb-1">2nd Prize: Certificate of Recognition</span>
          <span class="mb-1">3rd Prize: Certificate of Recognition</span>
        </div>
        <div class="test-col">
          <ion-label>DISTRICT LEVEL</ion-label>
          <span class="mb-1">1st Prize: Certificate of Recognition, and Medal</span>
          <span class="mb-1">2nd Prize: Certificate of Recognition, and Medal</span>
          <span class="mb-1">3rd Prize: Certificate of Recognition, and Medal</span>
        </div>
      </div>
      <div class="test-raw reward justify-content-center">
        <div class="test-col test-col1 m-0">
          <ion-label>STATE LEVEL</ion-label>
          <span class="mb-1">1st Prize: Certificate of Recognition, Medal, Trophy, & 5000 Cash Prize</span>
          <span class="mb-1">2nd Prize: Certificate of Recognition, Medal, Trophy, & 3000 Cash Prize</span>
          <span class="m-0">3rd Prize: Certificate of Recognition, Medal, Trophy, & 2000 Cash Prize</span>
        </div>
      </div>

    </div>
    <div class="test-section">
      <div>
        <ion-text>STARKWIZZ SCHOLARSHIP EVENT (SSE): ***************************************************</ion-text>
        <ion-title class="border-0">The SCHOLARSHIP RECIPIENT of the Year</ion-title>
        <span>Rewards will be granted to the top three positions only on the basis of state level.</span>
      </div>

      <div class="test-raw reward justify-content-center">
        <div class="test-col test-col1 m-0">
          <ion-label>STATE LEVEL</ion-label>
          <span class="mb-1">1st Prize: Certificate of Recognition, Medal, Memento and 20000 Cash Prize</span>
          <span class="mb-1">2nd Prize: Certificate of Recognition, Medal, Memento and 15000 Cash Prize</span>
          <span class="m-0">3rd Prize: Certificate of Recognition, Medal, Memento and 10000 Cash Prize</span>
        </div>
      </div>

    </div>
    <div class="exam-section">
      <ion-title>EVENT INFO</ion-title>
      <ul>
        <li>It is the children’s responsibility to take participates in an event, at the right time.</li>
        <li>Children have to follow the event section of the “app” time to time for surprise and sponsors events.</li>
        <li>Event’s Exam Duration: Maximum 02:30 Hour.</li>
        <li>It is the children’s responsibility to monitor &amp; manage the time scheduled for completes an exam in
          time.</li>
        <li>It’s the children’s responsibility to follow the 24-hour scheduled system [00:00 Hour – 23:59 Hour] to start
          and finish an event in due time.
          <span class="text-start"><b><u>For e.g.</u></b> Event Date: 25 th December, Expected Exam Duration: 02:00 Hour
            <br>Child elects to start the exam at 10.15 on 25 th December. As it is a two hour exam, the scheduled exam
            for the event therefore ends at 12:15.</span>
          <table class="table table-bordered mt-3">
            <tbody>
              <tr>
                <td>Exam submitted on or before 23:59 on 25th December</td>
                <td>Exam submitted on or after 00:00 on 26th December</td>
              </tr>
              <tr>
                <td>Within scheduled time</td>
                <td>Not possible to submit or No further access to the exam</td>
              </tr>
              <tr>
                <td>Treated as fair submission</td>
                <td>May result in withheld / refused</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li>Points are given for every correct answer in a test or event.</li>
        <li>There is no negative marking for wrong answers (No points are reduced for wrong answers).</li>
        <li>There is no such reward scheme available for any surprise event.</li>
        <li>There’s no option of review or change the answer, once progressed for the next question during a test.</li>
        <li>Skipping or returning from an event in between before completion of the exam, might result into
          withholding and also unable to attain the same event later again.</li>
        <li>When two or more children obtain the same points in an event, then their rank will be decided on the
          basis of their consumption of time to finish the examination.
          <span class="text-start"><b><u>For e.g.</u></b> – XXX, YYY, ZZZ (3 children’s name) has secured 99 points
            each, out of 100 points in an event.
          </span>
          <div class="d-flex mt-2">Whereas,
            <div class="ms-1">
              <span class="text-start">XXX has finished the exam and submitted in 01:40:35 hour (01 hour 40 minutes and
                35 seconds).</span>
              <span class="text-start">YYY has finished the exam and submitted in 01:40:34 hour (01 hour 40 minutes and
                34 seconds).</span>
              <span class="text-start">ZZZ has finished the exam and submitted in 01:50:07 hour (01 hour 50 minutes and
                07 seconds).</span>
            </div>
          </div>
          <span class="text-start">Here the ranks will be decided as: <br><b>Rank 1st</b> – YYY (01:40:34), <b>Rank 2nd
            </b> – XXX (01:40:35), and <b>Rank 3rd</b> – ZZZ (01:50:07)</span>
        </li>
        <li>In an event that a child <u>does not appear the exam</u>, due to illness or other adverse circumstances
          beyond their control, may submit a Good Cause claim in <b><u>Exam Helpdesk</u></b> within 3 working days of
          the
          event. If the Good Cause claim is accepted, the most common outcome is that the event will need to be
          completed at
          a later date.
          <span class="text-start">* In some cases, some event missed with Good Cause may be disregarded.</span>
        </li>
        <li>The children who <u>experiences technical difficulties during an exam</u> with accessing, completing, and/or
          submitting the event; should immediately contact to the <b><u>Exam Helpdesk</u></b> within 3 days (including
          holidays) of the event, using the contact details provided herewith and in the Application’s Contact Info.
          <span class="text-start"><b><u>Exam Helpdesk</u></b>: 6371469050. [10:00 – 17:00]</span>
        </li>
      </ul>
    </div>
  </div>
</ion-content>