.page-inner {
    h4 {
        font-size: 18px;
        line-height: 20px;
        font-family: "Nunito-Bold";
        color: #0A395A;
        margin: 0 0 8px;
    }

    .page-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        box-shadow: 0 2px 10px #ccc;
        z-index: 2;

        span {
            font-size: 15px;
            line-height: 16px;
            font-family: "Nunito-SemiBold";
            display: block;
            margin: 0;
            color: #0A395A;
        }
    }

    .subject-container {
        padding: 10px 10px 0;
        margin-bottom: 20px;

        .subject-inner {
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            padding: 0;

            .subject-box {
                position: relative;
                --ripple-color: transparent;
                --padding-start: 0;
                --inner-padding-end: 0;
                --inner-border-width: 0 0 0px 0;
                --min-height: 100%;
                --background: transparent;
                flex: 1 1 25%;
                max-width: calc(33.33% - 20px);
                height: 110px;
                border-radius: 10px;
                overflow: hidden;
                // padding: 10px;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                background: url(/assets/images/subject-img1.svg);
                background-repeat: no-repeat !important;
                background-position: center !important;
                background-size: cover !important;
                margin: 10px;

                &.background {
                    background: url(/assets/images/subject-img2.svg);
                }

                &.item-interactive-disabled {
                    .box-label {
                        opacity: 1;
                    }
                }

                .box-label {
                    position: absolute;
                    text-overflow: unset;
                    white-space: unset;
                    width: 100%;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 1px;
                    font-family: 'Nunito-SemiBold';
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    color: #fff;
                    margin: 0;
                    padding: 10px 10px 16px;
                    height: 100%;
                }
            }
        }
    }

    .subs {
        display: flex;
        align-items: baseline;
        background: #EBFEF8;
        border-radius: 6px;
        padding: 4px 8px;
        margin: 0 20px 16px;
        color: #1d7156;

        ion-img {
            width: 18px;
            margin-right: 6px;
        }

        ion-label {
            font-size: 14px;
            line-height: 18px;
            font-family: "Nunito-SemiBold";
        }
    }

    .box-card {
        border: 1px solid #0A395A;
        // width: 230px;
        margin: 0 20px 16px;
        border-radius: 8px;

        .box-col {
            padding: 5px 10px;
            border-bottom: 1px solid #0A395A;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            &:first-child {
                padding: 10px 10px 5px;
            }

            &:last-child {
                padding: 5px 10px;
                border: 0;
            }

            &.col {
                padding: 5px 10px 35px;

                ion-label {
                    font-size: 18px;
                    font-family: "Nunito-ExtraBold";
                }

                span {
                    font-size: 20px;
                    font-family: "Nunito-ExtraBold";
                }
            }



            ion-label {
                color: #0A395A;
                font-size: 16px;
                line-height: 18px;
                font-family: "Nunito-SemiBold";
                flex: 1;

                &.last {
                    font-family: "Nunito-ExtraBold";
                }
            }

            span {
                color: #0A395A;
                font-size: 18px;
                line-height: 20px;
                font-family: "Nunito-SemiBold";
                text-align: right;
                width: 100px;

                &.last {
                    font-family: "Nunito-ExtraBold";
                }
            }

            ion-text {
                position: absolute;
                bottom: 10px;
                right: 10px;
                color: #5cccef;
                font-size: 13px;
            }
        }
    }

    .quiz-container {
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        background: url(/assets/images/subject-img1.svg);
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover;
        margin: 10px;
        border: 2px solid #6A50A7;

        .quiz-header {
            background: #fff;
            padding: 8px 16px;
        }

        .quiz-inner {
            padding: 8px 16px;

            ion-label {
                display: block;
                color: #fff;
                font-size: 14px;
                font-family: 'Nunito-SemiBold';
                &.price {
                    border: 1px solid #fff;
                    border-radius: 4px;
                    padding: 2px 8px;
                    font-size: 16px;
                    line-height: 20px;
                    font-family: "Nunito-ExtraBold";
                    margin-left: 10px;
                }
            }
        }
    }
}


ion-footer {
    .btn-container {
        display: flex;
        padding: 16px 20px;
        justify-content: space-between;

        .pay-btn {
            margin: 0;
            --border-radius: 22px;
            --color: #fff;
            --background: #0A395A;
            font-size: 15px;
            font-family: "Nunito-Bold";
            text-transform: capitalize;
            --box-shadow: none;
            width: calc(50% - 8px);
            height: 40px;

            &:first-child {
                --background: rgb(226, 117, 117);
                --color: #fff;
            }
        }
    }
}