.page-container {
    height: calc(100% - 60px);
    .header-toolbar {
        padding: 8px 16px;
        ion-segment {
            display: flex;
            align-items: center;
            justify-content: space-between;
            ion-segment-button {
                background: transparent;
                --color: #0A395A;
                height: 40px;
                font-size: 18px;
                --border-radius: 8px;
                --border-width: 2px;
                --border-color: #70CFED;
                --border-style: solid;
                --box-shadow: none;
                margin: 0 8px;
                &.segment-button-checked {
                    background: #70CFED;
                    ion-label {
                        &::after {
                            height: 0;
                        }
                    }
                }
            }
         }
        
    }
    .header-md::after {
        height: unset;
    }
    .page-inner {
        padding: 10px;
        .event-card {
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
            background: url(/assets/images/subject-img1.svg);
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: cover !important;
            margin-bottom: 16px;
            .card-inner {
                padding: 12px 16px;
            }
            .card-label {
                font-size: 14px;
                line-height: 16px;
                font-family: "Nunito-SemiBold";
                display: block;
                margin: 0 0 4px 0;
                color: #fff;
                text-align: center;
            }
            .card-value {
                font-size: 16px;
                line-height: 20px;
                font-family: "Nunito-regular";
                display: block;
                margin: 0;
                color: #fff;
                &.format {
                    font-size: 13px;
                    line-height: 15px;            
                }
            }
            .card-heading {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
                padding: 0;
                .name {
                    text-align: center;
                    width: 100%;
                    h4 {
                        text-align: center;
                        font-size: 17px;
                        line-height: 22px;
                        font-family: "Nunito-Bold";
                        display: block;
                        margin-bottom: 6px;
                        color: #fff;
                    }
                }
                .subject {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span {
                        font-size: 14px;
                        line-height: 16px;
                        font-family: "Nunito-regular";
                        display: block;
                        margin: 0 4px 0 0;
                        color: #fff;
                        text-align: center;
                    }
                    ion-label {
                        font-size: 15px;
                        line-height: 20px;
                        font-family: "Nunito-Bold";
                        display: block;
                        margin: 0;
                        color: #fff;
                    }
                }
            }
            .card-body {
                display: flex;
                justify-content: space-between;
                padding: 0;
                .event-info {
                    text-align: center;
                }
            }
            .card-footer {
                padding: 4px;
                border: 0;
                border-radius: 0;
                ion-button {
                    width: 100%;
                    --background: #fff;
                    --color: #0A395A;
                    text-transform: capitalize;
                    font-size: 16px;
                    letter-spacing: 0;
                    font-family: 'Nunito-Bold';
                    height: 34px;
                    --border-radius: 10px;
                    --box-shadow: none;
                    margin: 0;
                }
            }
        }
    }
}
