<ion-header>
  <div class="header-toolbar">
    <ion-label>Report</ion-label>
  </div>
</ion-header>

<ion-content>
  <div class="modal-inner">
    <div class="report-info">
      <ion-label>Why are you reporting this Account?</ion-label>
      <p>Your report is anonymous, exept if you're reporting an intellectual property infringement. If someone is in immediate danger, call the local emergency services - don't wait.</p>
    </div>
    <div class="report-info">
      <ion-label>Report post, message or comment</ion-label>
    </div>
    <div class="report-info">
      <ion-label>Report account</ion-label>
    </div>
  </div>
</ion-content>