<!-- Forgot Password Modal -->

<ion-header>
  <div class="header-toolbar">
    <ion-title>Forgot Password</ion-title>
  </div>
</ion-header>
<ion-content>
  <div class="modal-inner">
    <ion-label>Enter your email for the verification process. We will send 6 digits code to your email.</ion-label>
    <div class="login-input">
      <ion-input type="email" name="email" [(ngModel)]="email" id="email"
        pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{​|}​~-]+@[a-zA-Z0-9-?:]+\.[a-zA-Z0-9-]+$" placeholder="Email ID"></ion-input>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="footer-toolbar">
    <ion-button class="secondary-btn" (click)="forgotPassword()">Continue</ion-button>
  </div>
</ion-footer>


<!-- Enter Code Modal -->

<!-- <ion-header>
  <div class="header-toolbar">
    <ion-title>Enter 6 Digits Code</ion-title>
  </div>
</ion-header>
<ion-content>
  <div class="modal-inner">
    <ion-label>Enter the 6 digits code that you received on your email.</ion-label>
    <div class="input-cantainer">
      <ion-input type="text"></ion-input>
      <ion-input type="text"></ion-input>
      <ion-input type="text"></ion-input>
      <ion-input type="text"></ion-input>
      <ion-input type="text"></ion-input>
      <ion-input type="text"></ion-input>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="footer-toolbar">
    <ion-button class="secondary-btn">Continue</ion-button>
  </div>
</ion-footer> -->


<!-- Reset Password Modal -->

<!-- <ion-header>
  <div class="header-toolbar">
    <ion-title>Reset Password</ion-title>
  </div>
</ion-header>
<ion-content>
  <div class="modal-inner">
    <ion-label>Set the new password for your account so you can login and access all the features.</ion-label>
    <div class="login-input password-input">
      <ion-input [type]="hide ? 'text' : 'password'" name="password" id="password" placeholder="Password"></ion-input>
      <button (click)="hide = !hide" type="button" class="inpuBtn">
        <ion-icon [name]="hide ? 'eye' : 'eye-off'"></ion-icon>
      </button>
    </div>
    <div class="password-info text-center">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <span class="weak"></span>
        <span class="strong"></span>
        <span class="very-strong"></span>
      </div>
      <ion-text>Your password is strong</ion-text>
    </div>
    <div class="login-input mb-2">
      <ion-input type="password" placeholder="Confirm Password"></ion-input>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="footer-toolbar">
    <ion-button class="secondary-btn">Reset Password</ion-button>
  </div>
</ion-footer> -->