ion-header {
    &.header-md::after {
        height: 0;
    }
    .header-toolbar {
        padding: 24px 20px 12px;
        ion-title {
            font-size: 22px;
            line-height: 24px;
            font-family: 'Nunito-SemiBold';
            display: block;
            color: #0A395A;
            padding: 0;
            position: unset !important;
        }
    }
}
ion-content {
    .modal-inner {
        padding: 10px 20px;
        ion-label {
            font-size: 16px;
            line-height: 20px;
            font-family: 'Nunito-Regular';
            display: block;
            color: #484848;
            margin: 0 0 20px;
        }
        .login-input {
            &.password-input {
                position: relative;
                .inpuBtn {
                    position: absolute;
                    right: 12px;
                    background: transparent;
                    top: 12px;
                    color: #0A395A;
                    font-size: 24px;
                    padding: 0;
                    height: 28px;
                    width: 28px;
                    z-index: 5;
                }
                ion-input { 
                    --padding-end: 40px;
                }
            }
            ion-input {
                height: 100%;
                width: 100%;
                font-size: 16px;
                font-family: 'Nunito-Regular';
                border-radius: 30px;
                background: #F3F3F3;
                border: none;
                --padding-top: 12px;
                --padding-end: 18px;
                --padding-bottom: 12px;
                --padding-start: 18px;
                text-align: left;
                --placeholder-color: #0A395A;
                --placeholder-opacity: .8;
            }
        }
        .input-cantainer {
            display: flex;
            align-items: center;
            ion-input {
                max-height: 50px;
                max-width: 50px;
                font-size: 16px;
                font-family: 'Nunito-Regular';
                border-radius: 16px;
                border: none;
                background: #EBF8FF;
                --padding-top: 12px;
                --padding-end: 16px;
                --padding-bottom: 12px;
                --padding-start: 16px;
                text-align: center;
                margin-right: 8px;
            }
        }
        .password-info {
            margin: 22px 0;
            span {
                width: 33%;
                border-radius: 8px;
                height: 10px;
                background: #F3F3F3;
                &.weak {
                    background: #FB7C7C;
                }
                &.strong {
                    background: #C6D84C;
                }
                &.very-strong {
                    background: #47C164;
                }
            }
            ion-text {
                font-size: 15px;
                line-height: 18px;
                font-family: 'Nunito-Regular';
                display: block;
                color: #47C164;
            }
        }
    }
}

ion-footer {
    &.footer-md::before {
        height: 0;
    }
    .footer-toolbar {
        padding: 10px 20px 26px;
        ion-button {
            
            height: 52px;
            font-size: 20px;
        }
    }
}