.inner-container {
    position: relative;
    height: 100%;
    overflow: auto;

    .headerBtn {
        height: 64px;
        padding-top: 20px;

        ion-button {
            height: 44px;
            --background: transparent;
            color: #292929;
            margin: 0;
            --box-shadow: none;

            ion-icon {
                margin-right: auto;
                font-size: 24px;
            }
        }
    }

    .inner-page {
        padding: 36px 26px 20px;
        height: calc(100% - 44px);
        overflow: auto;

        // .left-bottom {
        //     width: 106px;
        //     height: 178px;
        //     position: absolute;
        //     bottom: 0px;
        //     left: 0;
        //     z-index: -1;
        //     overflow: hidden;
        // }

        .right-top {
            width: 80px;
            height: 128px;
            position: absolute;
            top: 0px;
            right: 0;
            z-index: -1;
        }

        h4 {
            font-size: 22px;
            line-height: 24px;
            font-family: 'Nunito-ExtraBold';
            color: #152F48;
            margin: 0 0 30px;
        }

        .custom-card {
            background: #F6F7FA;
            border-radius: 12px;
            padding: 20px 16px;
            margin-bottom: 20px;
            position: relative;

            .clear-btn {
                font-size: 16px;
                font-family: 'Nunito-ExtraBold';
                position: absolute;
                right: 16px;
                color: #5DCCFC;
                --background: transparent;
                --box-shadow: none;
                --ripple-color: #0A395A;
            }

            .card-col {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }

                ion-label {
                    font-size: 14px;
                    line-height: 20px;
                    font-family: 'Nunito-SemiBold';
                    color: #1C1D1F;
                    display: block;
                    margin-bottom: 6px;
                }

                span {
                    font-size: 15px;
                    line-height: 18px;
                    color: #1C1D1F;
                    font-family: 'Nunito-ExtraBold';
                }
            }

        }

        .subs-detail {
            .caption {
                font-size: 15px;
                line-height: 20px;
                font-family: "Nunito-SemiBold";
                display: block;
                color: #1C1D1F;
                margin: 0 0 8px;
            }

            ul {
                margin-top: 10px;
                margin-bottom: 0px;
                list-style-type: decimal;

                li {
                    margin-bottom: 8px;
                    // height: 44px;
                    width: 100%;
                    border-radius: 12px;
                    background: #fff;
                    color: #1C1D1F;
                    border: 1px solid #F5EECE;
                    padding: 10px 14px;

                    span {
                        font-size: 16px;
                        list-style: 20px;
                        font-family: "Nunito-SemiBold";
                        color: #1C1D1F;
                    }


                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}