<ion-header>
  <div class="header-toolbar">
    <ion-title>Logout</ion-title>
  </div>
</ion-header>
<ion-content>
  <div class="modal-inner">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <p>Are you sure you want to Logout !!!</p>
  </div>
</ion-content>
<ion-footer>
  <div class="footer-toolbar">
    <ion-button class="primary-btn" (click)="logout()">Logout</ion-button>
    <ion-button class="primary-btn cancel-btn" fill="outline" (click)="onClickClose()">Cancel</ion-button>
  </div>
</ion-footer>