<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>QR Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="qr-page">
    <div class="qr-card">
      <ion-label class="title">Starkwizz QR Code</ion-label>
      <ion-label class="code">Your smart learning assessment journey begins here. Scan and download now!</ion-label>

      <div class="qr-image">
        <ion-img src="assets/images/menu-icons/starkwizz_app_qr.svg" alt="StarKwizz QR"></ion-img>
      </div>
    </div>
  </div>
</ion-content>
