.actions {
  position: absolute;
  right: 0;
  padding: 10px 16px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  ion-icon {
    color: white;
    font-size: 30px;
  }
  p {
    display: block;
    color: white;
    margin: 0px;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
  }
}

.video-profile {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .profile-left {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
    .video-info {
      width: 52px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      ion-icon {
        color: #70cfed;
        font-size: 28px;
      }
    }
    .profile-inner {
      overflow: hidden;
      text-align: left;
      margin-right: 16px;
    }
    .user-img {
      width: 52px;
      min-width: 52px;
      background: #fff;
      height: 52px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
      ion-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .user-name {
      font-size: 16px;
      line-height: 18px;
      font-family: "Nunito-Regular";
      color: #fff;
      text-transform: capitalize;
      display: block;
      margin-bottom: 4px;
    }
    .section-label {
      font-size: 13px;
      line-height: 15px;
      font-family: "Nunito-Regular";
      display: block;
      color: #fff;
    }
    .border-btn {
      --color: #70cfed;
      --border-color: #70cfed;
      --background: transparent;
      min-width: 66px;
      width: auto;
      --border-radius: 4px;
      height: 24px;
      font-size: 12px;
    }
  }
  .profile-right {
    display: flex;
    .ellips-icon {
      color: #fff;
      font-size: 34px;
    }
  }
}
.highlight-color {
  color: red !important;
}
.profile-info {
  flex: 1;
}
