<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="pageInner">
    <div class="imgContainer">
      <div class="round"></div>
      <div class="square"></div>
      <div class="round1"></div>
      <div class="round2"></div>
    </div>
    <ion-img src="assets/images/claim.jpg"></ion-img>
    <!-- <div class="d-flex">
      <div class="imgContainer">
        <div class="logoImg">
          <ion-img src="assets/images/header-logo.svg"></ion-img>
        </div>
        <div class="round"></div>
        <div class="square"></div>
        <div class="round1"></div>
        <div class="round2"></div>
      </div> -->
    <div class="pageDetail">
      <h1> </h1>
      <div>
        <span class="claim">Upto </span>
        <span class="percentage">100% </span>
        <span class="detail">Refund Policy</span>
        <span class="appFee"></span>
      </div>
    </div>
    <div class="pageDetail">
    <ion-button>Claim Now</ion-button>
    </div>
    <div class="imgContainer">
      <div class="round"></div>
      <div class="square"></div>
      <div class="round1"></div>
      <div class="round2"></div>
    </div>
  </div>
</ion-content>