<ion-header>
  <div class="header-toolbar">
    <ion-title>GENERAL</ion-title>
  </div>
</ion-header>
<ion-content>
  <div class="modal-inner">
    <div class="section-row">
      <ion-label class="section-label">User ID</ion-label>
      <ion-input class="section-value" value="UK834H717"></ion-input>
    </div>
    <div class="section-row">
      <ion-label class="section-label">City</ion-label>
      <ion-input class="section-value" value="Rourkela"></ion-input>
    </div>
    <div class="section-row">
      <ion-label class="section-label">State</ion-label>
      <ion-input class="section-value" value="Odisha"></ion-input>
    </div>
    <div class="section-row">
      <ion-label class="section-label">School</ion-label>
      <ion-textarea class="section-value value-textarea" value="Deepika English Medium School"></ion-textarea>
    </div>
    <div class="section-row">
      <ion-label class="section-label">Location</ion-label>
      <ion-textarea class="section-value value-textarea" value="Sector 5, Rourkela"></ion-textarea>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="footer-toolbar">
    <ion-button class="primary-btn" (click)="onClickClose()">Done</ion-button>
  </div>
</ion-footer>