ion-header {
    &.header-md::after {
        height: 0;
    }

    .header-toolbar {
        padding: 14px 32px;

        ion-title {
            font-size: 22px;
            line-height: 24px;
            font-family: 'Nunito-SemiBold';
            display: block;
            color: #70CFED;
            padding: 0;
            position: unset !important;
        }
    }
}

ion-content {
    .modal-inner {
        padding: 20px 32px;

        h2 {
            font-size: 24px;
            line-height: 30px;
            font-family: "Nunito-ExtraBold";
            display: block;
            color: #0A395A;
            margin: 0 0 16px;
            text-align: center;
        }

        h4 {
            font-size: 24px;
            line-height: 32px;
            font-family: "Nunito-Bold";
            display: block;
            color: #0A395A;
            margin: 12px 0 12px;
        }

        h5 {
            font-size: 18px;
            line-height: 24px;
            font-family: "Nunito-Bold";
            display: block;
            color: #212529;
            margin: 10px 0 8px;
        }

        p {
            font-size: 16px;
            line-height: 22px;
            font-family: "Nunito-Regular";
            display: block;
            color: #1c1c1c;
            margin: 0 0 14px;

            strong {
                color: #1c1c1c;
                font-size: 17px;
                margin: 6px 0;
            }
        }

        ul {
            &.disc {
                li {
                    list-style-type: disc !important;
                }
            }

            &.decimal {
                li {
                    list-style-type: decimal;
                }
            }

            li {
                font-size: 16px;
                line-height: 20px;
                font-family: 'Nunito-Regular';
                color: #1c1c1c;
                margin-bottom: 8px;
                list-style-type: decimal;

                b {
                    font-family: 'Nunito-Bold';
                }

                a {
                    color: #0A395A;
                    font-family: 'Nunito-SemiBold';
                }
            }
        }


    }
}

ion-footer {
    &.footer-md::before {
        height: 0;
    }

    .footer-toolbar {
        padding: 20px;

        ion-button {
            height: 52px;
            font-size: 20px;

            &.primary-btn {
                margin-bottom: 12px;
            }
        }
    }
}