<ng-container *ngIf="type =='EXAM'">
  <ion-header>
    <div class="header-toolbar">
      <ion-title>Finish Exam !!!</ion-title>
    </div>
  </ion-header>
  <ion-content>
    <div class="modal-inner">
      <ion-label>Are you sure to finish your Exam ? click Finish to close exam</ion-label>
    </div>
  </ion-content>
  <ion-footer>
    <div class="footer-toolbar">
      <ion-button class="secondary-btn cancel-btn" fill="outline" (click)="cancel()">cancel</ion-button>
      <ion-button class="secondary-btn" (click)="finish()">Finish</ion-button>
    </div>
  </ion-footer>
</ng-container>

<ng-container *ngIf="type =='EVENT'">
  <ion-header>
    <div class="header-toolbar">
      <ion-title>Status Alert</ion-title>
    </div>
  </ion-header>
  <ion-content>
    <div class="modal-inner">
      <ion-label>Your {{type}} is in {{status}}. Click Proceed to continue</ion-label>
    </div>
  </ion-content>
  <ion-footer>
    <div class="footer-toolbar">
      <ion-button class="secondary-btn cancel-btn" fill="outline" (click)="cancel()">cancel</ion-button>
      <ion-button class="secondary-btn" (click)="finish()">Proceed</ion-button>
    </div>
  </ion-footer>
</ng-container>