<ion-content class="date-ion-content">
  <!-- <div class="page-title">
    <h2>My Syllabus</h2>
  </div>
  <div class="page-inner">
    <p>You can add your syllabus here for the upcoming academic year 2025-26 from</p>
    <p><b>10th March 2025</b></p>
  </div> -->
  <div class="inner-container">
    <div class="headerBtn">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </div>
    <div class="inner-page">
      <div class="right-top">
        <ion-img src="/assets/svg/combo-design2.svg"></ion-img>
      </div>
      <!-- <div class="left-bottom">
        <ion-img src="/assets/svg/combo-design3.svg"></ion-img>
      </div> -->

      <div class="header">
        <h4>My Syllabus</h4>
        <span class="decs">Please add your preferable chapters below!</span>
      </div>

      <div class="custom-card" *ngFor="let type of subjForSubscription">
        <div class="yellowCircel"></div>
        <div class="cimg">
          <ng-container *ngFor="let subs of subsImages">
            <ng-container *ngIf="subs.label === type.displayName">
              <ion-img [src]="subs.img" [ngClass]="{'active': subs.label === type.displayName}"></ion-img>
            </ng-container>
          </ng-container>
        </div>
        <div class="custom-body">
          <h5>{{type.displayName}}</h5>
          <ion-button class="border-btn" (click)="detailSyllabus(type)">View Details</ion-button>
        </div>
      </div>

      <div class="btn-content">
        <ion-text (click)="mySyllabus()">Okay</ion-text>
        <ion-button class="secondary-btn" (click)="addSyllabus()">Add / Delete / Modify</ion-button>
      </div>
    </div>
  </div>
</ion-content>