<ion-header class="main-header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="header-logo">
      <ion-img src="/assets/images/header-logo.svg"></ion-img>
    </div>
    <div class="notify-btn" (click)="goToNotification()">
      <ion-icon class="notify-icon" name="notifications-circle-outline"></ion-icon>
      <ion-badge *ngIf="notificationCount > 0" [ngClass]="{'active': notificationCount > 99}">
        <span>{{notificationCount > 99 ? '99+':notificationCount}}</span>
      </ion-badge>
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="main-content">
    <div class="page-header">
      <div class="me-2">
        <h4>Hi, {{userDetails.displayName}}</h4>
        <span>Welcome to Starkwizz Events</span>
      </div>
    </div>
    <div class="header-toolbar">
      <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segmentValue" mode="md">
        <ion-segment-button value="APPEAR">
          <ion-label>Live</ion-label>
        </ion-segment-button>
        <ion-segment-button value="UPCOMING">
          <ion-label>Up-Coming</ion-label>
        </ion-segment-button>
        <ion-segment-button value="COMPLETED">
          <ion-label>Completed</ion-label>
        </ion-segment-button>
        <ion-segment-button value="EXPIRED">
          <ion-label>Expired</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <!-- Add your condition here -->
    <div class="page-container" *ngIf="contenskeleton">
      <ion-list>
        <ion-skeleton-text animated style=" height: 192px; width: 100%; border-radius: 15px; margin-bottom: 12px;"
          *ngFor="let list of [1,2,3,4,5]"></ion-skeleton-text>
      </ion-list>
    </div>
    <!--  -->

    <div class="page-container" *ngIf="!contenskeleton">
      <ng-container *ngIf="appearedEvents.length == 0 && segmentValue === 'COMPLETED'">
        <p class="default-text">No Exam Completed yet..</p>
      </ng-container>
      <ion-list slot="content" [ngClass]="{'center': appearedEvents.length === 0}" *ngIf="segmentValue === 'COMPLETED'">
        <ng-container *ngIf="appearedEvents.length>0">
          <!-- <ion-label class="title">Free</ion-label> -->
          <div class="event-card" *ngFor="let suevent of appearedEvents" [ngStyle]="{'background': suevent.colorCode}">
            <div class="card-inner">
              <span class="price" *ngIf="suevent.applicableType === 'SUBSCRIBTION'">{{suevent.price}}/-</span>
              <span class="viewMore-btn" (click)="onClickEventInfo(suevent)"> Info </span>
              <span class="event-code"> {{suevent.eventCode}} </span>
              <div class="event-ribbon" *ngIf="suevent.applicableType === 'FREE_TRAIL'">
                <span>Free</span>
              </div>
              <div class="event-ribbon" *ngIf="suevent.applicableType === 'SUBSCRIBTION'">
                <span>Subscribed</span>
              </div>
              <div class="card-heading">
                <div class="name" *ngIf="suevent.line1">
                  <h4>{{suevent.line1}}</h4>
                  <div class="subject mb-1" *ngIf="suevent.line2">
                    <!-- <span>Style : </span> -->
                    <ion-label>{{suevent.line2}}</ion-label>
                  </div>
                  <div class="subject" *ngIf="suevent.line3">
                    <ion-label>{{suevent.line3}}</ion-label>
                  </div>
                </div>
              </div>
              <div class="card-body">

                <div class="event-info">
                  <ion-label class="card-label">Date</ion-label>
                  <span class="card-value">{{suevent.appearedDate|date: 'MMM d'}}</span>
                  <ion-label class="event-class"><b>{{suevent.subjectName}}</b></ion-label>
                </div>
                <div class="event-info">
                  <ion-label class="card-label">Duration</ion-label>
                  <span class="card-value">{{suevent.totalExamTimeDisplay}}</span>
                  <span class="event-class"> <b>Total Mark : <ion-label>{{suevent.totalSecuredMark}}</ion-label></b>
                  </span>

                </div>
              </div>
            </div>
            <div class="card-footer" *ngIf="suevent.examStatus==null">
              <ion-button (click)="onClickAppear(suevent)"> <ion-spinner name="dots"
                  *ngIf="appearLoader"></ion-spinner>Appear</ion-button>
            </div>
            <div class="card-footer" *ngIf="suevent.examStatus=='COMPLETED'">
              <ion-button (click)="onClickCompletedExam(suevent)"><ion-spinner name="dots"
                  *ngIf="viewScoreLoader"></ion-spinner>View Score</ion-button>
            </div>
          </div>
        </ng-container>
      </ion-list>


      <ion-list slot="content" [ngClass]="{'center': pendingEvents.length === 0}">
        <ng-container *ngIf="filteredEvents.length === 0 && segmentValue === 'UPCOMING' && !contenskeleton">
          <p class="default-text">No Upcoming events</p>
        </ng-container>
        <ng-container *ngIf="filteredEvents.length === 0 && segmentValue === 'EXPIRED'  && !contenskeleton">
          <p class="default-text">No Expired events</p>
        </ng-container>
        <ng-container *ngIf="filteredEvents.length === 0 && segmentValue === 'APPEAR'  && !contenskeleton">
          <p class="default-text">No On going events</p>
        </ng-container>

        <ng-container *ngIf="filteredEvents.length>0">
          <!-- <ion-label class="title">subscribed</ion-label> -->
          <div class="event-card" *ngFor="let suevent of filteredEvents" [ngStyle]="{'background': suevent.colorCode}">
            <div class="card-inner">
              <span class="price" *ngIf="suevent.applicableType === 'SUBSCRIBTION'">{{suevent.price}}/-</span>
              <span class="viewMore-btn" (click)="onClickEventInfo(suevent)"> Info </span>
              <span class="event-code"> {{suevent.eventCode}} </span>
              <div class="event-ribbon" *ngIf="suevent.applicableType === 'FREE_TRAIL'">
                <span>Free</span>
              </div>
              <div class="event-ribbon" *ngIf="suevent.applicableType === 'SUBSCRIBTION'">
                <span>Subscribed</span>
              </div>
              <div class="card-heading">
                <div class="name" *ngIf="suevent.line1">
                  <h4>{{suevent.line1}}</h4>
                  <div class="subject mb-1" *ngIf="suevent.line2">
                    <!-- <span>Style : </span> -->
                    <ion-label>{{suevent.line2}}</ion-label>
                  </div>
                  <div class="subject" *ngIf="suevent.line3">
                    <ion-label>{{suevent.line3}}</ion-label>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="event-info">
                  <ion-label class="card-label">Date</ion-label>
                  <span class="card-value">{{suevent.eventStartDate|date: 'MMM d'}} - {{suevent.eventEndDate|date: 'MMM
                    d'}}</span>
                  <ion-label class="event-class"><b>{{suevent.subjectName}}</b></ion-label>
                </div>
                <div class="event-info">
                  <ion-label class="card-label">Duration</ion-label>
                  <span class="card-value fw-semibold">{{suevent.displayTotalHour}}</span>
                  <span class="card-value format">Hr Min Sec</span>
                  <span class="event-class"> <b>Class : <ion-label>{{userDetails.className}}</ion-label></b> </span>

                </div>
              </div>
            </div>
            <div class="card-footer" *ngIf="suevent.examStatus=='EXPIRED'">
              <ion-button class="expire-btn">Expired</ion-button>
            </div>
            <div class="card-footer" *ngIf="suevent.examStatus=='UPCOMING'">
              <ion-button>Upcoming</ion-button>
            </div>
            <div class="card-footer" *ngIf="suevent.examStatus=='APPEAR'">
              <ion-button (click)="onClickAppear(suevent)">Appear</ion-button>
            </div>
            <div class="card-footer" *ngIf="suevent.examStatus=='COMPLETED'">
              <ion-button (click)="onClickCompletedExam(suevent)">View Score</ion-button>
            </div>
          </div>
        </ng-container>
      </ion-list>
    </div>
  </div>
</ion-content>


<ion-modal #subEventInfoModal class="selectBottomSheet" [isOpen]="isEventInfoModalOpen" [initialBreakpoint]="1.0"
  [breakpoints]="[0, 1.0]" backdrop-dismiss="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Events Info </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalDismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="page-inner" [innerHTML]="selectedEvent.information">
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
